<article class="eventslist">
  <section class="layout">
    <div class="events">
      <% events.forEach(function(item) { %>
        <article class="artist group">
          <h3><a href="/events/<%= item.shortname %>"><%= item.title %> <span class="small"><i class="fa fa-calendar"></i>
            <%= item.date %></a><span></h3>
            <p>
              <% if (page!= 'home') { %>
                <% if (page === 'eventsList') { %>
                  <%- item.summary %>
                  <a href="/events/<%= item.shortname %>"><span class="small">...read more</a><span>
                <% } else { %>
                  <%- item.description %>
                <% } %>
              <% } %>
            </a></p>
        </article>
      <% }); %>
    </div>
  </section>
</article>