<article class="nextmeeting">
  <h1>Next MeetUp</h1>
  <p>
  <img src="<%= appdata.meeting.where.img %>" alt="Meeting Location"> Our next meetup will be on<br />
  <i class="fa fa-calendar-check-o"></i>  <%= appdata.meeting.date %>, <%= appdata.meeting.time %><br /> <i class="fa fa-university"></i>
  <%= appdata.meeting.where.name %> <%= appdata.meeting.where.address %>
  </p><br />
  <p><% include socialmedia.ejs %></p>
  <p><iframe src="https://duckduckgo.com/search.html?width=165&duck=yes&prefill=Search DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:300px;height:50px;" frameborder="0"></iframe></p>
</article>